html{
	height:100%;
	}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  }

html #override,
body #override {
  /*! background-image: url("../create.jpeg"); */
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  margin-bottom: 0;
}

.wrapper .div-navbar {
  text-align: center;
}

.logo {
  /* display: inline-block; */
  margin-top:.5rem;
}

#logo {
  width: 20%;
}

#nav-ul {
  display: none;
  padding: 0;
  color: black;
  margin: auto;
  position: relative;
  bottom: 1rem;
}

.nav-li {
  list-style: none;
  padding: 1rem;
  margin-bottom:.5rem;
}

.nav-li .nav-li-a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-li .nav-li-a:hover {
  border-bottom: 2px solid;
  transition: ease;
}

.contact {
  border: 2px solid;
}

.about {
  padding-bottom:0;
}

.contact:hover {
  background-color:#000;
}

.contact:hover > #contact-button {
  color: #fff;
  border:none;
}

.jumbotron {
  background-color: transparent;
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
}

.headline1{
  margin: 3rem;
  color: #000;
  text-align: center;
}

.fas{
  top: 0;
  font-size:3rem;
}

.div-nav-ul {
  margin: auto;
  width: 7rem;
}

#arrow{
  height:0;
  transition:.7s;
  position: relative;
  &:before{
    height:30px;
  }
}

.arrowOne{
  transform: rotatex(180deg);
}

.arrowTwo {
    transform: rotatex(180deg);
    top:15rem;
}